*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.main{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758 , #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 50px solid black;
    color: white;
}

.main h1{
    font-size: 45px;
    font-weight: 900;
    margin-top: -50px;
    margin-bottom: 50px;
}

.main h1 span{
    color: black;
}

textarea{
    width: 600px;
    height: 250px;
    background-color: #403d84;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

button{
    background-color: black;
    color: #fff;
    font-size: large;
    border-radius: 15px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button img{
    width: 16px;
    margin-right: 10px;
}

button:hover{
    opacity: 0.7;
}

select{
    flex: 1;
    color: black;
    background-color: #403d84;
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;
    font-size: medium;
}